In [1]:
from numpy import sort
import pandas as pd
import numpy as np
import math
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

from sklearn.model_selection import train_test_split
from sklearn.feature_selection import VarianceThreshold,SelectFromModel,variance_threshold

from sklearn.preprocessing import StandardScaler,MinMaxScaler,LabelEncoder
from sklearn.linear_model import LogisticRegression

from sklearn.ensemble import GradientBoostingClassifier
from sklearn import metrics
from sklearn.metrics import roc_auc_score,f1_score ,accuracy_score

import joblib

import warnings 
warnings.filterwarnings('ignore')

C:\Users\hp\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:143: FutureWarning: The sklearn.feature_selection.variance_threshold module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.feature_selection. Anything that cannot be imported from sklearn.feature_selection is now part of the private API.
  warnings.warn(message, FutureWarning)

In [2]:
#import dataset
train  = pd.read_csv("cleaned_train_01_original.csv")
test  = pd.read_csv("cleaned_test_01_original.csv")

In [30]:
train.head()

,form_field1,form_field2,form_field3,form_field4,form_field5,form_field6,form_field7,form_field8,form_field9,form_field10,...,form_field42,form_field43,form_field44,form_field45,form_field46,form_field47,form_field48,form_field49,form_field50,target
0,3436,0.28505,1.6560,0.0,0.000,0,10689720,252072,4272776,11333126,...,0.392854,2.02,0.711632,0,0,0,-999.000000,1.129518,0.044335,0
1,3456,0.67400,0.2342,0.0,0.000,0,898979,497531,9073814,2533168,...,0.314281,8.08,0.183584,-999,0,0,349.805730,1.620483,0.322436,0
2,3276,0.53845,3.1510,0.0,6.282,-999,956940,-999,192944,1079864,...,0.162965,18.18,0.791136,0,0,0,-999.000000,1.513370,0.011640,1
3,3372,0.17005,0.5050,0.0,0.000,192166,3044703,385499,3986472,3621979,...,0.488884,2.02,0.685168,-999,0,0,89.940100,0.664452,0.082729,0
4,3370,0.77270,1.1010,0.0,0.000,1556,214728,214728,1284089,361770,...,0.275000,12.12,0.438168,0,0,0,97.887502,1.427891,0.045630,0

In [37]:
train['form_field1'].unique()

array([3436, 3456, 3276, 3372, 3370, 3724, 3350, 3416, 3376, 3310, 3488,
       3536, 3732, 3168, 3256, 3688, 3348, 3504, 3460, 3484, 3316, 3506,
       3148, 3334, 3312, 3430, 3498, 3698, 3284, 3264, 3494, 3286, 3338,
       3452, 3626, 3408, 3706, 3614, 3646, 3410, 3500, 3540, 3552, 3462,
       3214, 3492, 3656, 3394, 3382, 3544, 3472, 3422, 3192, 3722, -999,
       3658, 3380, 3290, 3600, 3358, 3314, 3166, 3268, 3726, 3516, 3386,
       3450, 3742, 3502, 3568, 3448, 3340, 3364, 3594, 3686, 3374, 3692,
       3126, 3554, 3862, 3434, 3684, 3106, 3588, 3520, 3550, 3332, 3630,
       3178, 3308, 3454, 3288, 3274, 3162, 3360, 3482, 3788, 3744, 3764,
       3704, 3280, 3534, 3856, 3818, 3632, 3900, 3362, 3720, 3890, 3478,
       3420, 3548, 3716, 3368, 3532, 3762, 3560, 3590, 3644, 3784, 3836,
       3870, 3710, 3466, 3412, 3258, 3278, 3470, 3750, 3566, 3404, 3240,
       3622, 3216, 3576, 3652, 3428, 3270, 3176, 3794, 3262, 3468, 3326,
       3272, 3406, 3432, 3648, 3384, 3442, 3592, 3636, 3302, 3674, 3578,
       3194, 3572, 3400, 3296, 3266, 3476, 3200, 3612, 3140, 3868, 3810,
       3490, 3446, 3356, 3522, 3254, 3464, 3812, 3696, 3354, 3352, 3392,
       3680, 3238, 3676, 3564, 3562, 3210, 3642, 3654, 3546, 3772, 3876,
       3668, 3700, 3844, 3530, 3804, 3662, 3708, 3898, 3854, 3610, 3524,
       3878, 3628, 3228, 3322, 3222, 3158, 3712, 3378, 3206, 3250, 3486,
       3538, 3736, 3188, 3518, 3388, 3528, 3570, 3336, 3894, 3650, 3342,
       3842, 3458, 3344, 3108, 3390, 3142, 3328, 3150, 3398, 3730, 3624,
       3304, 3606, 3596, 3860, 3760, 3826, 3792, 3440, 3734, 3542, 3664,
       3514, 3474, 3402, 3204, 3330, 3678, 3230, 3292, 3426, 3234, 3852,
       3816, 3864, 3414, 3220, 3620, 3110, 3438, 3248, 3444, 3598, 3586,
       3758, 3776, 3508, 3766, 3806, 3778, 3886, 3800, 3768, 3796, 3666,
       3828, 3608, 3496, 3510, 3298, 3260, 3580, 3198, 3282, 3480, 3236,
       3212, 3702, 3882, 3170, 3846, 3574, 3718, 3808, 3694, 3366, 3424,
       3346, 3182, 3226, 3526, 3144, 3848, 3770, 3418, 3164, 3078, 3218,
       3838, 3672, 3640, 3786, 3244, 3190, 3832, 3660, 3584, 3512, 3604,
       3252, 3092, 3306, 3738, 3616, 3728, 3556, 3232, 3782, 3840, 3822,
       3396, 3028, 3774, 3752, 3300, 3224, 3582, 3320, 3634, 3802, 3618,
       3242, 3558, 3294, 3602, 3122, 3146, 3670, 3830, 3246, 3138, 3118,
       3638, 3202, 3820, 3756, 3324, 3116, 3208, 3858, 3156, 3102, 3790,
       3740, 3132, 3136, 3318, 3180, 3834, 3134, 3120, 3850, 3130, 3874,
       3100, 3196, 3160, 3184, 3780, 3754, 3682, 3824, 3798, 3104, 3172,
       3052, 3746, 3154, 3690, 3888, 3066, 3124, 3128, 3174, 3896, 3114,
       3814, 3090, 3872, 3094, 3880, 3866, 3714, 3044, 3152, 3088, 3072,
       3884, 3060, 3068, 3748, 2998, 3074, 3048, 3070, 3076, 3034, 3892,
       3112, 3186, 3080, 3086, 3096, 3084, 3098, 3062, 3012, 3082, 3036,
       3040, 3056, 3042, 3050, 2994, 3026, 3010, 2990, 3038, 3004, 3064,
       3024, 3054, 3058, 3032, 3030, 3000, 3008, 3016, 3046, 3020],
      dtype=int64)

In [40]:
#Defining X and Y variable
X = train[['form_field47', 'form_field2','form_field1']]
y  = train.target

In [41]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [42]:
seed = 42

In [43]:
gradientboost = GradientBoostingClassifier(n_estimators= 300,learning_rate=0.1,random_state=42)

In [44]:
gradientboost.fit(X_train,y_train)
print('Train set imputation')
pred = gradientboost.predict_proba(X_train)
print('gradientboost roc-auc: {}'.format(roc_auc_score(y_train,pred[:,1])))
pred = gradientboost.predict(X_train)
print('gradientboost accuracy: {}'.format(accuracy_score(y_train,pred)))
print('Test set')
pred = gradientboost.predict_proba(X_test)
print('gradientboostroc_auc: {}'.format(roc_auc_score(y_test,pred[:,1])))
pred = gradientboost.predict(X_test)
print('gradientboost accuracy: {}'.format(accuracy_score(y_test,pred)))
print()

Train set imputation
gradientboost roc-auc: 0.821537064327809
gradientboost accuracy: 0.8000533049040511
Test set
gradientboostroc_auc: 0.8012873776052796
gradientboost accuracy: 0.7857683982683983

In [45]:
save_file_name = 'classification2.pkl'
joblib.dump(gradientboost, save_file_name)
print('saved pipeline')

saved pipeline

In [46]:
classifier = joblib.load('classification2.pkl')

In [48]:
pred = classifier.predict(X_test)

In [49]:
pred.shape

(18480,)

In [50]:
list(pred).count(1)

2458

In [51]:
list(pred).count(0)

16022